.button {
  border-radius: 40px;
  background-color: #436149;
  padding: 10px 30px;
  display: inline-block;

  font-size: 24px;
  color: white;
  text-decoration: none;
}

.button-order {
  border: 1px solid #436149;
  border-radius: 40px;
  background-color: #436149;
  padding: 10px 30px;
  margin: 20px 10px;
  display: inline-block;

  font-size: 24px;
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: #c3d4c1;
  text-shadow: 1px 1px 2px #436149;
}

.button-order:hover {
  background-color: #F5F5F5;
  color: #436149;
  text-shadow: 1px 1px 2px #436149;
  border: 1px solid #436149;
}
